**/.terraform/*

*.tfstate
*.tfstate.*
**/*.terraform.tfstate.lock.info

*.tfvars
*.tfvars.json
*override.tf
*override.tf.json
*_override.tf
*_override.tf.json

*.tfplan
*.log
*crash.log

.terraformrc
terraform.rc

.history
.vscode/
.idea/
.DS_Store

!.terraform.lock.hcl